<div>
  <pre
    class="text-slate-400 leading-none">     _____            _                 __                    _____
    / ___/__  _______(_)_  ______  ____/ /___  _________     / ___/
    \__ \/ / / / ___/ / / / / __ \/ __  / __ \/ ___/ __ \    \__ \ 
   ___/ / /_/ / /  / / /_/ / /_/ / /_/ / /_/ / /  / / / /   ___/ / 
  /____/\__,_/_/  /_/\__, /\____/\__,_/\____/_/  /_/ /_/   /____(_)
                    /____/
</pre>
  <p>Welcome to my CLI Portfolio.</p>
  <p>
    For list of all commands, type <span class="text-sky-400">'help'</span>.
  </p>
  <p>For GUI version, type <span class="text-sky-400">'gui'</span>.</p>
</div>
