---
import Header from '../components/console/Header.astro'
import Layout from '../layouts/Layout.astro'
---

<script src="../components/console/scripts/main.ts"></script>
<Layout title="Console">
  <div class="font-mono p-4 text-lg" id="console-body">
    <Header />
    <div id="commands"></div>
    <div class="flex">
      <div id="prompt">
        <p class="mr-2">
          <span class="text-emerald-400">guest@terminal</span>:<span
            class="text-sky-400">~</span
          >$
        </p>
      </div>
      <input
        class="bg-transparent outline-none placeholder:opacity-50 flex-1"
        placeholder="help"
        autofocus
        autocomplete="false"
        id="input"
      />
    </div>
  </div>
</Layout>
