---
import Layout from '../layouts/Layout.astro'
---

<script>
  setTimeout(() => {
    window.location.href = 'https://zikxewen.github.io/assets/resume.pdf'
  }, 2000)
</script>
<Layout title="Resume">
  <div class="flex h-full w-full flex-col items-center justify-center">
    <h1 class="text-4xl font-bold">Resume</h1>
    <p class="text-xl">Under Construction. Redirecting to PDF version...</p>
  </div>
</Layout>
