---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu+Mono"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Supanat Suriyodorn</title>
  </head>
  <body>
    <div
      id="root"
      class="h-screen overflow-y-scroll scroll-smooth bg-slate-900 text-sky-100 underline-offset-1 scrollbar-thin scrollbar-track-transparent scrollbar-thumb-slate-400"
    >
      <slot />
    </div>
  </body>
</html>
