---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu+Mono"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Supanat Suriyodorn</title>
  </head>
  <body
    class="h-screen cursor-custom overflow-y-auto scrollbar-thin scrollbar-thumb-slate-400 scrollbar-track-transparent"
  >
    <slot />
  </body>
</html>
